$defaultColor: RGBA(45, 175, 245, 1.00);
$fontColor: RGBA(30, 40, 46, 1.00);

body {
  margin: 0 auto;
  max-width: 1100px;
  background: black;
  color: $fontColor;
}

.container {
  width: 100%;
}

.title {
  border-radius: 20px;
  background: $defaultColor;
  color: $fontColor;
  text-align: center;
  font-size: 23px;
}


.musiccontainer {
  background: $defaultColor;
}


.searchcontainer {
  margin-top: 10px;
  margin-left: 20%;

}

audio {
  margin-top: 10px;
  margin-left: 4.5%;
  width: 90%;
}

input {
  border-radius: 5px;
  height: 20px;
}

button {
  background-color: RGBA(4, 85, 151, 1.00);
  color: $fontColor;
  border-radius: 5px;
}


.resultscontainer {
  margin-left: 25%;
  width: 50%;
  overflow: auto;
  background: RGBA(0, 141, 244, 1.00);
  border-radius: 20px;

  .artistsection {
    margin-top: 20px;
    margin-left: 13%;
    width: 75%;
    float: left;
    background-color: RGBA(0, 100, 186, 1.00);
    clear: both;
    border-radius: 20px;
  }
    .artistsection img {
      width: 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .artistsection p {
      text-align: center;
      width: 100%;
      color: $fontColor;
      background: $defaultColor;
      font-size: 12px;

    }


}

@media screen and (min-width: 401px) and (max-width: 750px) {
  body {
    background: red;
  }

  .resultscontainer {
    margin: 0;
    width: 100%;
    float: left;
  }

  .artistsection  {
    width: 10%;
  }







}

// Questions to ask TIM
/*  1. Why search button keeps refreshing
    2. Why rwd doesn't work
    3. Can't figure out audio src to only put one player at a time*/
