$defaultColor: RGBA(45, 175, 245, 1.00);
$fontColor: RGBA(30, 40, 46, 1.00);

body {
  margin: 0 auto;
  max-width: 700px;
  background: black;
  color: $fontColor;
}

.container {
  width: 100%;
}

.title {
  border-radius: 20px;
  background: $defaultColor;
  color: $fontColor;
  text-align: center;
  font-size: 23px;
}


.musiccontainer {
  background: $defaultColor;
  border-radius: 20px;
}

audio {
  margin: 4px;
  margin-left: 4.5%;
  width: 90%;
}

input {
  margin-left: 15%;
  border-radius: 5px;
  height: 20px;
}

button {
  background-color: RGBA(4, 85, 151, 1.00);
  color: $fontColor;
  border-radius: 5px;



}

.searchcontainer {
  background: RGBA(0, 141, 244, 1.00);
  margin: 0 auto;
}

.resultscontainer {
  width: 100%;
  overflow: auto;
  background: RGBA(0, 141, 244, 1.00);

  .artistsection {
    width: 20%;
    overflow: auto;
    float: left;
    background-color: RGBA(0, 100, 186, 1.00);
    display: inline;

  }


}
