body {
  background: RGBA(34, 34, 34, 1.00);
}

.title {
  text-align: center;
  text-decoration: line-through;
  background: black;
  margin: 10px 20%;
  padding: 20px;
  border: 2px solid RGBA(114, 114, 114, 1.00);
  border-top-right-radius: 40%;
  border-top-left-radius: 60%;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 40%;
}

.t1 {
  color: RGBA(237, 20, 91, 1.00);
}

.t2 {
  color: RGBA(255, 103, 0, 1.00);
}

.t3 {
  color: RGBA(0, 119, 175, 1.00);
}

.t4 {
  color: RGBA(0, 168, 122, 1.00);
}

.audiocontainer {
  margin: 10px auto;
  text-align: center;
}

.searchbar {
  text-align: center;
}

input {
  background: black;
  color: RGBA(0, 168, 122, 1.00);
  border: 1px solid RGBA(0, 119, 175, 1.00);
  padding: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

button {
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: RGBA(237, 20, 91, 1.00);
  color: RGBA(0, 168, 122, 1.00);
  border: 1px solid RGBA(0, 119, 175, 1.00);
  font-weight: bolder;
}


.artistsection {
  width: 50%;
  padding: 30px;
  margin: 30px auto;
  text-align: center;
  border: 2px solid RGBA(237, 20, 91, 1.00);
}

.artistsection span {
  display: none;
}

.artistsection img {
  width: 100%;
  border: 2px solid RGBA(255, 103, 0, 1.00);

  &:hover {
    opacity: .1;
    cursor: pointer;
  }
}

.artistsection p {
  padding: 10px;
  border: 3px solid RGBA(0, 119, 175, 1.00);
  background: black;
  margin: 0;
  color: white;
  font-style: italic;

  &:hover {
    cursor: pointer;
    color: RGBA(237, 20, 91, 1.00);
    text-decoration: underline;
    text-decoration-color: RGBA(237, 20, 91, 1.00);
  }
}
